<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">

	<!-- 암호화된 비번 가져오기 -->
	<select id="getPass" resultType="java.lang.String">
		select password from membertbl 
		where userid=#{userid} <!-- userid는 pk니까 -->
	</select>

	<!-- 로그인 : userid,passowrd 일치 시 userid, name 조회 -->
	<select id="login" resultType="com.spring.domain.AuthDTO">
		select userid,name from membertbl 
		where userid=#{userid} <!-- 앞에서 비교했으니 password는 지워줌.. 강의 5/16 오후 5시 40분 -->
	</select>
	
	<!-- 회원가입 -->
	<insert id="insert">
		insert into membertbl(userid,password,name,gender,email) 
		values(#{userid},#{password},#{name},#{gender},#{email})
	</insert>
	
</mapper>